<a href="https://colab.research.google.com/github/rchodavarapuv/MyPersonalFolder/blob/master/mixup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import numpy as np
g = np.array([[0, 4, 0, 0, 0, 0, 0, 8, 0],[4, 0, 8, 0, 0, 0, 0, 11, 0],[0, 8, 0, 7, 0, 4, 0, 0, 2],[0, 0, 7, 0, 9, 14, 0, 0, 0],[0, 0, 0, 9, 0, 10, 0, 0, 0],[0, 0, 4, 14, 10, 0, 2, 0, 0],[0, 0, 0, 0, 0, 2, 0, 1, 6],[8, 11, 0, 0, 0, 0, 1, 0, 7],[0, 0, 2, 0, 0, 0, 6, 7, 0]])
print(g)
rows, columns = np.shape(g)
queue = []

mydict = {};

for i in range(rows):
  for j in range(i,columns):
    if(g[i,j] > 0):
      mydict[i].append(j)

print(mydict)

[[ 0  4  0  0  0  0  0  8  0]
 [ 4  0  8  0  0  0  0 11  0]
 [ 0  8  0  7  0  4  0  0  2]
 [ 0  0  7  0  9 14  0  0  0]
 [ 0  0  0  9  0 10  0  0  0]
 [ 0  0  4 14 10  0  2  0  0]
 [ 0  0  0  0  0  2  0  1  6]
 [ 8 11  0  0  0  0  1  0  7]
 [ 0  0  2  0  0  0  6  7  0]]

KeyError: ignored

In [6]:
nums = [-2,1,-3,4,-1,2,1,-5,4]
maxsum = 0
listed = []

for i in nums:
  maxsum=maxsum+i
  if maxsum+i <0:
    maxsum =0
  listed.append(maxsum)

print(max(listed))

6

In [4]:
import numpy as np
grid = np.array([[1,3,5],[2,1,2],[4,3,1]])

a = []

rows, columns = np.shape(grid)
kernel = 2
for i in range(rows-1):
  for j in range(columns-1):
    a.append(np.sum(grid[i:i+kernel,j:j+kernel]))

print(a)

[7, 11, 10, 7]

In [44]:
import ctypes
a = "babab"

def compared(s):
  temp = s[::-1]
  #temp = strrev(s)
  b = s
  if temp==b:
    print("equal:"+temp)

prefix_arr = ["" for x in range(len(a))]
suffix_arr = ["" for x in range(len(a))]

for i in range(len(a)):
  prefix_arr[i] = a[i:]
  compared(prefix_arr[i])
  suffix_arr[i] = a[:i+1]
  compared(suffix_arr[i])

print(prefix_arr)
print(suffix_arr)

equal:babab
equal:b
equal:bab
equal:bab
equal:b
equal:babab
['babab', 'abab', 'bab', 'ab', 'b']
['b', 'ba', 'bab', 'baba', 'babab']

In [ ]:
import pandas as pd

df = pd.read_csv("/content/sample_data/california_housing_train.csv")

df.head(5)
df2 = df[['latitude','housing_median_age']]
df3 = df2.groupby(by=['latitude'])

df3.describe()

         housing_median_age                                                 \
                      count       mean       std   min    25%   50%    75%
latitude
32.54                   1.0   7.000000       NaN   7.0   7.00   7.0   7.00
32.55                   3.0   9.333333  5.131601   5.0   6.50   8.0  11.50
32.56                   9.0  16.333333  5.873670   5.0  16.00  17.0  20.00
32.57                  13.0  17.461538  5.221995   9.0  14.00  17.0  21.00
32.58                  20.0  22.800000  7.288058  11.0  17.00  22.5  27.25
...                     ...        ...       ...   ...    ...   ...    ...
41.82                   1.0  20.000000       NaN  20.0  20.00  20.0  20.00
41.84                   1.0  17.000000       NaN  17.0  17.00  17.0  17.00
41.86                   3.0  24.000000  4.582576  19.0  22.00  25.0  26.50
41.88                   1.0  18.000000       NaN  18.0  18.00  18.0  18.00
41.95                   2.0  19.500000  2.121320  18.0  18.75  19.5  20.25


           max
latitude
32.54      7.0
32.55     15.0
32.56     23.0
32.57     26.0
32.58     36.0
...        ...
41.82     20.0
41.84     17.0
41.86     28.0
41.88     18.0
41.95     21.0

[840 rows x 8 columns]